<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
 <h1>Movie list</h1>
  
    <table>
      <tr>
        <th>TITLE</th>
        <th>RELEASE DATE</th>
        <th>RATING</th>
        <th>IMDB LINK</th>
      </tr>
      <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseDate}"></td>
        <td th:text="${movie.rating}"></td>
        <td th:text="${movie.imdbLink}"></td>
      </tr>
    </table>
</body>
</html>