<div th:fragment="header">
	<ul class="nav navbar navbar-default">
		<li role="presentation" class="active"><a th:href="@{/}">Home</a></li>
		<li role="presentation"><a th:href="@{/}">Movies</a></li>
		<li role="presentation"><a href="#">Actors</a></li>
		<li role="presentation"> 
			<form role="form" th:action="@{/logout}" method="post">
			    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    <button type="submit">Logout</button>
			</form>	
		</li>
	</ul>
</div>